/doc/
/Meta/
/docs/
gen-*
src-*
src/*.gcda
src/*.o
src/*.so
src/*.dll
.Rdata
.Rd2pdf**
.Rprofile
*.gcno
*.knit.md
*.log
*.out
*.Rhistory
*.utf8.md
/* *.Rd */
inst/ape
inst/doc
results-*
revdep/
tests/testthat/_snaps/*.new.*
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
vignettes/*_cache*
*.Rproj*
.Rproj.user
!TreeSearch.Rproj
*.site
gen-*tip/*
results-*
inst/DELETE*
*.bak
*.ckp~
*.vstat
*.p
*.t
*.mcmc
*.lstat
*.ckp
