Meta
doc
docs
gen-*
src-*
src/*.o
src/*.so
src/*.dll
.Rdata
.Rprofile
*.gcno
*.knit.md
*.log
*.out
*.Rhistory
*.utf8.md
/* *.Rd */
inst/ape
inst/doc
results-*
revdep/
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
vignettes/*_cache*
*.Rproj*
.Rproj.user
*.site
gen-*tip/*
results-*
inst/DELETE*
