/doc/
/Meta/
/docs/
gen-*
src-*
src/*.gcda
src/*.o
src/*.so
src/*.dll
.Rdata
.Rd2pdf**
.Rprofile
*.gcno
*.knit.md
*.log
*.out
*.Rhistory
*.utf8.md
/* *.Rd */
inst/ape
inst/doc
results-*
revdep/
tests/testthat/_snaps/*.new.*
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
vignettes/*_cache*
*.Rproj*
.Rproj.user
!TreeSearch.Rproj
*.site
gen-*tip/*
results-*
inst/DELETE*
*.bak
*.tmp.tre
*.ckp~
*.vstat
*.p
*.t
*.mcmc
*.lstat
*.ckp
split-support/MrBayes/aln*
!split-support/MrBayes/aln*.con.tre
!split-support/MrBayes/aln*.parts
!split-support/MrBayes/aln*.pstat
!split-support/MrBayes/aln*.tstat
