body {
  font-family: "Gill Sans", "Gill Sans MT", "Gill Sans MS", "Verdana", "Sans-Serif";
}

.shiny-input-container {
  margin-bottom: 0;
}

/* Sneaky way of keeping progress bars open */
.shiny-notification-close {
  display: none;
}

#shiny-notification-panel {
  top: 0;
}

.message {
  color: #ffc646;
}

#references {
  position: relative;
}

h1 {
  font-size: 16pt;
  font-weight: 700;
}

h2 {
  font-size: 14pt;
  font-weight: 700;
}

h3 {
  font-size: 12pt;
  font-weight: 700;
}


div#char-description {
  max-width: 580px;
}

.state-notes {
  column-count: 2;
}

li.state-note {
  break-inside: avoid-column;
  page-break-inside: avoid;
}

.state-note-label::after {
  content: ": ";
}

.state-note-label {
  font-weight: bold;
}

.legendLeft {
  margin-left: 2em;
  align: right;
}

.legendRight {
  align: left;
}

 .legendBar {
  display: inline-block;
  min-width: 3em;
 }

.infernoScale {
  background: linear-gradient(90deg, #000004, #160b39, #420a68, #6a176e, #932667, #ba3655, #dd513a, #f3761b, #fca50a, #f6d746, #f6d746);
}

#blackToGreen {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(0,158,115,1) 100%);
}